<mat-card class="product-card">
  <img mat-card-image [src]="product.thumbnail" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p style="display: flex; justify-content: space-between">
      <strong>{{product.name}}</strong>
      <span style="color: #5a6268; font-size: 16px; font-weight: bold;">{{product.price}}  FCFA</span>
    <p>
      {{product.description}}
    </p>
    <i>Quantité: </i> {{product.qty}} <i> en stock</i>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button  style="color: orangered; border: 1px solid orangered;" (click)="addCart()"> AJOUTER AU PANIER</button>
  </mat-card-actions>
</mat-card>
