<h1>Mon Panier (2) </h1>

<mat-card>
  <mat-card-content>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Quantité</th>
          <th>Prix Unitaire</th>
          <th>Prix Sous Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Canish</td>
          <td>
            <label>
              <select class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </label>
          </td>
          <td>200 F CFA</td>
          <td>200 F CFA</td>
        </tr>
      </tbody>
    </table>
    <div class="row" style="display: flex; justify-content: flex-end;">
      <div class="col-md-4">
        <h4 style="font-size: 22px; font-weight: bold">Total: 200 F CFA</h4>
      </div>
    </div>
  </mat-card-content>
</mat-card>
